body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: 
    repeating-radial-gradient(#000000f6 0 0.0001%,rgb(0, 0, 0) 0 0.0002%) 50% 0/2000px 2000px,
    repeating-conic-gradient(#000000e1 0 0.0001%,#3d3d3d 0 0.0002%) 60% 60%/2000px 2000px;
  background-blend-mode: difference;

}
  *{
    overflow:hidden;
  }
/* Conteneur de la barre de progression */
#loadingBarContainer {
    width: 80%; /* ou 100% si vous voulez qu'elle s'étende sur toute la largeur */
    height: 30px; /* Hauteur de la barre de progression */
    background-color: #eee; /* Couleur de fond */
    border-radius: 15px; /* Arrondir les coins */
    position: fixed; /* Fixer la barre en bas de la page */
    top: 50%; /* Centrer verticalement (ajustez selon besoin) */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Ajustement nécessaire pour le centrage */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Ombre pour un peu de profondeur */
    overflow: hidden; /* Garantit que la barre intérieure ne dépasse pas */
}

/* Barre de progression elle-même */
#loadingBar {
    height: 100%; /* Remplir entièrement le conteneur en hauteur */
    width: 0%; /* Largeur initiale de 0; elle sera mise à jour par JavaScript */
    background-color: #4caf50; /* Couleur de la barre de progression */
    transition: width 0.4s ease; /* Transition douce pour les changements de largeur */
    border-radius: 15px; /* Assure que la barre arrondie suit les coins du conteneur */
}

  main{
    display: flex; 
    flex-direction: row; 
  }
  header {
    margin-top: 3em;
    text-align: center;
    color: white;
  }
  header h1 {
    font-size: 2em;
    font-weight: 900;
  }

section{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.commands{
  display: flex;

  gap: 1rem;
}
.button {
  margin-top: 1rem;
  z-index: 1;
  cursor: pointer;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}


.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.container3D{
  width: 100vw;
  height: 100vh;
  position: absolute;
}
  .container3D canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer p{
    color: white;
    font-size: 1rem;
    margin: 0.25rem;
  }
  a{
    color: white;
  }
  a:hover{
    color: rgb(216, 216, 216);
  }
  .scrollUpButton, .scrollDownButton{
    display: none;
  }


